/*
This file is used if:
- there should be extra css needed that is not provided by w3.css
- current layouts have to be overwritten
*/

.sailor-startpage-gameselector {
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
}

.sailor-gameselect-button {
    font-weight: bold;
}

/* Only on small screens */

@media only screen and (max-width: 600px) {

}